* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App {
  text-align: center;
}

button.new_style {
  background-color: cadetblue;
  margin-bottom: 100px;
}

button.new_style:hover {
  background-color: green;
}

:root {
  --light: #eceff4;
  --dark: #4c566a;
  --accent: #bf616a;
}
